/AEDS/nbproject/private/
/AEDS/build/
/POO/nbproject/private/
/POO/build/
/POO/dist/
/Teste/nbproject/private/
/Teste/build/
/POOGym/nbproject/private/
/POOGym/build/
/Maratonas/nbproject/private/
/Maratonas/build/
/POOGym/JavaApplication14/nbproject/private/
/POOGym/JavaApplication15/nbproject/private/
/GYMOOP/nbproject/private/
/TicTacToe/build/
